@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-bg-primary: #dbdbdb;
  --color-bg-secondary: #04151f;
  --color-bg-tertiary: #183a37;

  --color-font-primary: #c44900;
  --color-font-secondary: #efd6ac;
  --color-font-tertiary: #432534;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
    background-color: var(--color-bg-teriaty);
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.dflex {
    display: flex;
}

.container {
    width: 100%;
    margin-left: 41px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
}